  .thumbnail {
      min-height: 210px;
      background-color: #505f6d;
  }
  
  .bold {
      font-weight: bold !important;
  }
  
  .green {
      color: green !important;
  }
  
  .pad-left {
      margin-left: 10px;
  }
  
  .well div {
      color: #bbb;
  }